.filterContainer{
    max-width: 70%;
    margin: auto;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    justify-content: flex-end;
}

.expense-container {
    margin: auto;
    background-color: rgb(64, 138, 138);
    padding: 3%;
    width: 80%;
    height: auto;
    border: none;
    border-radius: 25px;
}