/* .exp-filter{
    width: 10%;
    background-color: orangered;
    border: none;
    border-radius: 5px;
} */

.exp-filter__control {
    width: 230%;
    height: 150px;
}

select {
    color: white;
    width: 100% ;
    background-color: rgb(51, 15, 51);
    border: none;
    border-radius: 5px;
    height: auto;
    padding: 9%;
}